.title{
    font-weight: bold;
    font-size: xxx-large;
  color: #7a58f1;
}
.home_div{
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
        margin-top: 40px;
}

.img{
    max-width: 75%;
    height: 50%;
  border-radius: 6px;
}
.Btn{
color: #7a58f1;  
      background: transparent;
    border: 2px solid #7a58f1;
    padding: 15px;
    border-radius: 50px;
}

.Btn:hover{
  transition: 0.5s;
  background-color:#7a58f1;
  color: white;
  border: 2px solid #ffffff;
}
.card{
width: auto;
max-width: 25%;
}
.faq{
    background-color: #dfdfdf;
      display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  
}
.faq_card{
  width: 75%;
    padding: 20px;
background-color: white;
  border-radius: 6px;

}
.faq_card:hover{
  transition: 0.5s;
  box-shadow: 5px 5px #b5b5b5;
  
}
.faq_card h2{
  text-align:center;
}

